@mixin main-component-theme($theme, $typography) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  .file-type-hint {
    border-color: rgba(mat-color($primary), 0.3);
    background-color: rgba(mat-color($primary, lighter), 0.35);
  }

  .submission-result {
    &.success {
      color: mat-color($primary, 900);
    }

    &.error {
      color: mat-color($warn, 900);
    }
  }
}